@import url('<link href="https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&display=swap');
*,::before,::after{margin: 0; box-sizing: border-box;}
a{ text-decoration: none; color: inherit; display: inline-block;}
ul{ list-style: none; padding: 0;}
img{ vertical-align: bottom;}
button{ cursor: pointer; padding: 0; font: 16px var(--ff);}
input,select{ font-family: var(--ff);}
label{ display: inline-block;}
@font-face {
    font-family:FiraSans ;
    src: url(font/FiraSans-ExtraBold.ttf);
} 
 @font-face {
    font-family:FiraSans ;
    src: url(font/FiraSans-Bold.ttf);
 } 
  
 html{ font-size: 15px; --ff: "Hind", sans-serif;}
 body{background: url(img/background.webp); font: 16px var(--ff);}
 .firasans{ font: 43px Firasans, cursive; }




.container{ max-width: 1238px; margin: auto; padding: 0 1rem;}
.container-lg{ max-width: 1440px; margin: auto; padding: 0 1rem; }
.container-full{ max-width: 100%; margin: auto; padding: 0 1rem;}

.row{ display: flex; flex-flow: row wrap; margin: 0 -1rem; }
[class^="col-"]{ flex: 1 0 auto; padding: 0 1rem;}
.col-1{ flex-basis: 8.33%; max-width: 8.33%;}
.col-2{ flex-basis: 16.66%; max-width: 16.66%;}
.col-3{ flex-basis: 25%; max-width: 25%;}
.col-4{ flex-basis: 33.33%; max-width: 33.33%;}
.col-5{ flex-basis: 41.66%; max-width: 41.66%;}
.col-6{ flex-basis: 50%; max-width: 50%;}
.col-7{ flex-basis: 58.33%; max-width: 58.33%;}
.col-8{ flex-basis: 66.66%; max-width: 66.66%;}
.col-9{ flex-basis: 75%; max-width: 75%;}
.col-10{ flex-basis: 83.33%; max-width: 83.33%;}
.col-12{ flex-basis: 100%; max-width: 100%;}
.flex{ display: flex;}
.justify-space-bet{ justify-content: space-between;}
.justify-right{ justify-content: right;}
.justify-center{ justify-content: center;}
.justify-left{ justify-content: left;}
.align-center{ align-items: center;}
.img-resp{ max-width: 100%; height: auto;}

header{ 
    color: #d3d2d2; 
    background: #35333280; 
    margin-top: 7rem;
    position: relative;
}

header .logo-container{ 
    position: relative; 
}
header .logo{ 
    position: absolute; 
    top: -55px; 
    left: 30px; 
}
header a{ 
    padding: 25px 10px 20px 10px; 
    margin-right: 35px; 
    text-transform: uppercase; 
    font: 600 35px var(--ff); 
}
header a:hover{
    color: black;
    border-bottom: 5px solid black;


}

.banner{ 
    background: url(img/1200bg.webp) no-repeat center top/cover; 
  
    max-width: 100%; height: 100%; 
    margin-top: 70px; 
}
.caption1{
    background: #a9a9a9;
    margin: 195px 125px 300px;
    opacity: 0.8;
    text-align: center;
    padding: 2.5rem 2.5rem 2rem;
} 

.caption1 h2.firasans{
    font: 900 142px Firasans, cursive;
    text-transform: uppercase;
}
.caption1 a{
    color: #bd6925;
    background: #37150a;
    font: 500 41px var(--ff);
    padding: 16px 23px 15px 27px;
    text-align: center;
    margin-bottom: 2rem;
    
}
nav label{display: none;}
nav input{display: none;}













.wrap2 .container-lg{
    margin-top: 50px;
    background: #958c7e;
    /* margin: 100px 50px 80px 50px;*/
}
.wrap2 .content{
    margin-left: 2rem; 
    display: flex; 
    flex-flow: column; 
    justify-content: center; 
    height: 100%; 
    
}
.wrap2 .content h2{
   font: 600 33px var(--ff);
}
.wrap2 .content p{
   font: 100 25px/33px var(--ff);
   margin-top: 30px;   
}
.wrap2 .img-resp{
    padding: 45px 0;
}










.wrap3 .copu{
    background: url(img/coupel.webp) no-repeat center ;
    margin-top: 50px;
    
}
.wrap3 .cap{
    background:#e6a73b;
    color: black;
    margin: 680px 30px 640px 40px;
}
.wrap3 .cap p{
   padding: 50px 70px 40px 60px;
   font: 100 29px/33px var(--ff);
}
.wrap3 .abu{
    background: url(img/abutus.webp) no-repeat center ;
    margin-top: 50px;
}
.wrap3 .abbu{
    background: #e6a73b;
    color: black;
    margin: 215px 20px 1190px 20px;
}
.wrap3 .abbu h2{
    padding: 0 15px;
    font: 900 128px Firasans, cursive;
}














.wrap4{
    margin: 80px 50px 65px 45px;
    color: white;
}
.wrap4 h2{
    font: 600 35px/31px var(--ff);
}
.wrap4 p{
    font: 100 23px/31px var(--ff);
    margin-top: 33px;
}
.wrap4  .blue{
    background: #103541;
    text-align: left;
    padding: 140px 70px 85px 105px;
    margin-right: -14px;
}  
.wrap4 .red{
    background: #654149;
    text-align: center;
    padding: 140px 70px 85px 105px;
    margin-right: -14px;

}
.wrap4 .green{
    background: #386c62;
    text-align: right;
    padding: 140px 70px 85px 105px;
    margin-right: -14px;
}








.wrap5{
    color: white; 
    background: #37150a8f;
    margin-right: 50px;
    margin-left: 50px;
}
.wrap5 .brn{
    
    margin-top: 130px;
    margin-left: 80px;
}
.wrap5 .brn b{
    display: none;
}
.wrap5 p{
    font: 100 24px/37px var(--ff);
}
.wrap5 .brn h2{
    font: 600 94px var(--ff);
}
.wrap5 .cofi{
    position: relative;
    margin-right: 20px;
}
.wrap5 .cofi h2{
    margin-top: -130px;
    margin-left: -70px;
}
.wrap5 .cup{
    position: absolute;
    top: 192px; 
    padding: 72px 70px 62px;
}

.wrap5 .cup h2{
    font: 600 94px var(--ff);
    display: block;
}
.wrap5 .shape{
    margin-left: -6.3rem;
    margin-top: 2rem;
    position: relative;
}
.wrap5 .icon{
    position: absolute;
    top: 30px;
    left: 80px;
}
.wrap5 .icon p{
    color: black;
    margin-top: 1rem;
    margin-left: 1rem;
}








.wrap6{
    background: url(img/bg6.webp) no-repeat center ;
    margin: 90px 0 0 0;
}
.wrap6 .imi{
    margin-top: 130px;
}
.wrap6 .caption6{
    background: white;
}
.wrap6 .capii{
    padding: 40px 30px;
}
.wrap6 .caption6 h2{
    font: 600 24px var(--ff);
    margin-top: 30px;
}
.wrap6 .wrap6inner{
    margin-bottom: 115px;
}
.wrap6 .caption6 .p6{
    font: 100 24px var(--ff);
    margin-top: 20px;
}

.wrap6 .caption6 .p61{
    font: 600 20px var(--ff);
}
.wrap6 .caption6 a{
    margin-top: 40px;
    font: 600 20px/47px var(--ff);
    border-bottom: 10px solid #458072;
}









.wrap7 .bg{
  background: url(img/lgcupl.webp) no-repeat top center/cover;
  margin-top: 115px;
  height: 860px;

}


.wrap8{
    color: white;
    font-family: var(--ff);
}

.wrap8 .book-here{
    color: #fff;
    background: #2e584e;
    width: 312px;
    height:130px;
    margin: -23px auto;
}
.wrap8 h2{ 
    font: 900 65px/54px Firasans, cursive;
    padding: 15px 70px;
    text-align: center;
}
.wrap8 .row{
    margin-top: 50px;
}
.wrap8 label{
    font: 600 16px var(--ff);
}

.wrap8 select{
    border: 1px solid #ffffff;
    background: #242424;
    color: white;
    border-radius: 10px;
    padding: 6px;

}

.wrap8 input{
    
    border: 1px solid #ffffff;
    background: #242424;
    color: white;
    border-radius: 10px;
    
   
}
.wrap8 input, .wrap8 select {
    max-width: 235px;
    width: 235px;
    padding: 8px 5px 10px;
}


.wrap8 .mid, .wrap8 .rit{
   display: flex;
   justify-content: center;

}
.wrap8 .col-4{
   margin-bottom: 45px;
}
.wrap8 ::placeholder{
    color: white;
}
.wrap8 button{
    border: 1px solid #ffffff;
    background: #242424;
    color: #d28c21;
    border-radius: 10px;
    padding: 8px 85px;

}
.wrap8 .thank{
    margin-top: 90px;
}








.wrap9 .container-full{
    background:url(img/footer.webp) no-repeat  top center/cover;
    padding: 0 0 100px 0;
}

.wrap9 .auto{
    text-align: center;
}
.wrap9 img{
    margin-top: 140px; 
}

.wrap9 a{
    color: white;
    font-size: 25px;
    display: grid;
    place-items: center;
    width: 50px; 
    flex-shrink: 0;
    height:50px; 
    border-radius: 50%; 
    background:#564741; 
    margin-right: 15px;
    margin-top: 25px;
}
.wrap9 p{
    
    color: #564741;
    font: 400 25px var(--ff);
    margin-top: 20px;
}




/* responsive */
@media screen and (max-width:1420px){
    
}

@media screen and (max-width:1250px){
    html{ font-size: 14px;}
    
    header a{
        padding: 25px 10px 20px 10px; 
       font-size: 2rem;
    }




    .wrap3 .abbu h2{
        padding: 0 15px;
        font: 900 81px Firasans, cursive;
    }





    .wrap4  .blue{
        padding: 140px 70px 85px 105px;  
    }  
    .wrap4 .red{
        padding: 140px 70px 85px 105px;
    }
    .wrap4 .green{
        padding: 140px 70px 85px 105px;
    }
    .wrap4 .green p{
        padding-top: 31px;
    }
    






    .wrap5 .brn{
        margin-top: 50px;
        margin-left: 60px;
    }
    .wrap5 .brn h2{
        font: 600 90px var(--ff);
    }
    .wrap5 .brn p{
       margin-top: 1rem;
    }
    
    .wrap5 .cup h2{
        font: 600 90px var(--ff);
        margin-top: -215px;
        margin-left: 70px;
    }
    .wrap5 .cofi .lftsd{
      margin-top: 11rem;
      margin-left: 25px;
    }
    .wrap5 .shape{
        margin-left: -5rem;
        margin-top: 6rem;
    }









    .wrap6 .wrap6inner{
        margin-bottom: 115px;
        margin-left: 30px ;
     }
     .wrap6 .caption6 a{
         margin-top: 20px;
     }
     .wrap6 .caption6 .p6{
        margin-top: 10px;
    }
    .wrap6 .p61{
        margin-top: -1px;
     }
    




     .wrap9{
        background-size: 100%;
        padding: 0 0 45px 0;
        margin-top: 25px;
    }
    .wrap9 img{
        margin-top: 80px;
        width: 80px;
        height: 100px; 
    }
    
    .wrap9 a{
        color: white;
        font-size: 25px;
        display: grid;
        place-items: center;
        width: 50px; 
        flex-shrink: 0;
        height:50px; 
        border-radius: 50%; 
        background:#564741; 
        margin-right: 10px;
        margin-top: 20px;
    }
    .wrap9 p{
        
        color: #564741;
        font: 400 25px var(--ff);
        margin-top: 20px;
    }


}


@media screen and (max-width:980px){
    .col-t-3{ flex-basis: 25%; max-width: 25%;}
    .col-t-4{ flex-basis: 33.33%; max-width: 33.33%;}
    .col-t-6{ flex-basis: 50%; max-width: 50%;}
    .col-t-8{ flex-basis: 66.66%; max-width: 66.66%;}
    .col-t-9{ flex-basis: 75%; max-width: 75%;}
    .col-t-12{ flex-basis: 100%; max-width: 100%;}
    .menu{ display: inline-block;}
    

    header{ padding: 20px 0;}
    .logo h1{ font-size: 22px;}
    nav ul.flex{display: none; flex-flow: column; }
    nav label{ display: flex; cursor: pointer; justify-content: end; font-size: 50px;}
    nav input:checked + ul.flex{ display: block; transform: translatex(0);}
    nav li{ display: flex; justify-content: end;}
    
    nav{
        z-index: 1;
    }
    
    nav ul{
        position: absolute;
        right: 0;
        top: 90px;
        background-color: #35333280;
    }

    .wrap2{
        margin-top: 50px;
    }
    .wrap2 .content{
        padding: 20px;
    }
    .wrap2 .img-container{
        display: grid;
        place-items: center;
    }




   

    .wrap3 .copu{
        margin-top: 50px;
    }
    .wrap3 .abu{   
        margin-top: 50px;
    }







    .wrap4 h2{
        margin-left: -52px;
    }
    .wrap4 p{
        font: 100 22px/30px var(--ff);
        margin-top: 33px;
        margin-left: -52px;
    }









    .wrap5 .brn{
        margin-top: 60px;
        margin-left: 40px;
    }
    .wrap5 .brn h2{
        font: 600 60px var(--ff);
    }
    
    .wrap5 .cup h2{
        font: 600 60px var(--ff);
        margin-top: -203px;
        margin-left: 50px;
    }
    .wrap5 .cofi .lftsd{
      margin-top: 10rem;
      margin-left: 25px;
    }
    .wrap5 .shape{
        margin-left: -4rem;
        margin-top: 1rem;
    }
    .wrap5 .icon{
        top: 7px;
        left: 30px;
    }
    .wrap5 .icon p{
        margin-top: 1rem;
        margin-left: 10px;
        font-size: medium;
    }

    


    .wrap6 .wrap6inner{
        width: 300px;
        margin-left: 30px;
        margin-bottom: 135px;
    }





    .wrap8 .col-4 {
        justify-items: start;
        justify-content: left;
    }





    .wrap9{
        background-size: 100%;
        padding: 0 0 30px 0;
        margin-top: 50px;
    }
    .wrap9 img{
        margin-top: 70px;
        width: 70px;
        height: 90px; 
    }
    
    .wrap9 a{
        color: white;
        font-size: 25px;
        display: grid;
        place-items: center;
        width: 40px; 
        flex-shrink: 0;
        height:40px; 
        border-radius: 50%; 
        background:#564741; 
        margin-right: 10px;
        margin-top: 10px;
    }
    .wrap9 p{
        
        color: #564741;
        font: 400 15px var(--ff);
        margin-top: 10px;
    }
}


@media screen and (max-width:767px){
    html{ font-size: 13px;}
    .col-m-6{ flex-basis: 50%; max-width: 50%;}


    header{ padding: 20px 0;}
    .logo h1{ font-size: 22px;}
    nav ul.flex{display: none; flex-flow: column; }
    nav label{ display: flex; cursor: pointer; justify-content: end;}
    nav input:checked + ul.flex{ display: block; transform: translatex(0);}
    nav li{ display: flex; justify-content: end;}
    nav{
        z-index: 1;
    }
    
    nav ul{
        position: absolute;
        right: 0;
        top: 90px;
        background-color: #35333280;
    }



}


@media screen and (max-width:460px){
    .col-p-4{ flex-basis: 33.33%; max-width: 33.33%;}
    .col-p-6{ flex-basis: 50%; max-width: 50%;}
    .col-p-12{ flex-basis: 100%; max-width: 100%;}
    header{ padding: 20px 0;}
    .logo h1{ font-size: 22px;}
    .tabs .flex{ overflow-x: auto;}
    nav ul.flex{display: none; flex-flow: column; }

    /* .m-menu{
        width: 100%;
    } */

    nav label{ display: flex; cursor: pointer; justify-content: end;}
    nav input:checked + ul.flex{ display: block; transform: translatex(0);}
    nav li{ display: flex; justify-content: end; border-bottom:1px solid #ffffff80;}
    nav li:last-child{border: 0;}
    .caption1 h2.firasans{
        font: 900 53px Firasans, cursive;
        text-transform: uppercase;
        margin-top: -10px;

    }
    .caption1 a{
        font: 500 15px var(--ff);
        padding: 10px 15px 10px 20px;   
    }
    .caption1{
        width: 230px;
        height: 200px;
        margin: 260px 120px;
        margin-top: 100px;
    }
    nav{
        z-index: 1;
    }
    
    nav ul{
        position: absolute;
        right: 0;
        top: 90px;
        background-color: #353332;
    }
    .banner{
        background-size: 150%;
        margin-top: 100px; ;
    }

















    .wrap2{
        margin-top: -100px;
    }
    .wrap2 .content{
            padding: 0px 0 10px;
            margin:10px 0 0;
    }
    
    .wrap2 .content h2 {
        font: 600 28px var(--ff);
    }
    .wrap2 .content p {
        font: 100 20px / 33px var(--ff);
        margin-top: 15px;
    }
    .wrap2 .img-resp{
        padding: 10px 0;
    }














    .wrap3 .copu{
        margin-top: -100px;
        background-size: 150%;
    }
    .wrap3 .abu{
        margin-top: -100px;
        background-size: 150%;

    }
    .wrap3 .abbu h2 {
        padding: 0 15px;
        font: 900 60px Firasans, cursive;
    }
    .wrap3 .abbu {
        margin: 325px 20px 1190px 20px;
    }
    .wrap3 .cap p {
        padding: 20px;
        font: 100 25px / 33px var(--ff);
    }
     










    .wrap4{
        margin-top: 0px;
    }
    .wrap4 h2{
        margin-left: -30px;
        
    }
    .wrap4 p{
        margin-left: -20px;
        
    }
    .wrap4  .blue{
        padding: 50px 50px; 
       
    }  
    .wrap4 .red{
        padding: 50px 50px;
        margin-top: 50px; 
    }
    .wrap4 .green{
        padding: 50px 50px;
        margin-top: 50px; 
    }









    .wrap5 .brn{
        margin-top: 50px;
        margin-left: 20px;
    }
    .wrap5 p{
        font: 100 20px/37px var(--ff);
    }
    .wrap5 .brn h2{
        font: 600 40px var(--ff);
    }
    .wrap5 .cofi .lftsd{
        margin-top: -1px;
        margin-left: -1px;
      }
    .wrap5 .shape{
        margin-left: -2.5rem;
        margin-top: 2rem;
        position: relative;
    }
    .wrap5 .cup h2{
        display: none;
    }
    .wrap5 .brn b{
        display: block;
    }
    .wrap5 .shape img{
        padding-right: 50px;
    }
    .wrap5 .cofi{
        margin: 15px 0;
    }
    .wrap5 .icon{
        left: 30px;
        top: 10px;
    }











    .wrap6{
        background-size: 150%;
        margin-top: 30px;
    }
   
    .wrap6 .caption6 a{
        margin-top: 20px;
    }
    .wrap6 .imi{
        margin-top: 130px;
        width: 150px;
        height: 100px;
    }
    .wrap6 .caption6{
        background: white;
        width: 150px;
        height: 150px;
    }
    .wrap6 .capii{
        padding: 40px 15px;
    }
    .wrap6 .caption6 h2{
        font: 600 10px var(--ff);
        margin-top: 5px;
    }
    .wrap6 .wrap6inner{
        margin-bottom: 115px;
    }
    .wrap6 .caption6 .p6{
        font: 100 10px var(--ff);
        margin-top: 5px;
    }
    
    .wrap6 .caption6 .p61{
        font: 600 10px var(--ff);
    }
    .wrap6 .caption6 a{
        margin-top: 10px;
        font: 600 10px/15px var(--ff);
        border-bottom: 5px solid #458072;
    }












    .wrap7 .bg{
        background-size: 150%;
        margin-top: 50px;
    }











    .wrap8 {
        margin-top:-505px;
    }
    .wrap8 .book-here{
        width: 170px;
        height:90px;
    }
    .wrap8 h2{ 
        font: 900 40px/40px Firasans, cursive;
        padding: 5px 5px;
        text-align: center;
    }
    .wrap8 .rito1{
        justify-content: end;
        text-align: end;
    }
    .wrap8 .mido{
        justify-content: start;
    }
    .wrap8 .rito{ 
        justify-content: end;
        text-align: end;
    }
    






    .wrap9{
        background-size: 140%;
        padding: 0;
        margin-top: 25px;
    }
    .wrap9 img{
        margin-top: 70px;
        width: 50px;
        height: 70px; 
    }
    
    .wrap9 a{
        color: white;
        font-size: 15px;
        display: grid;
        place-items: center;
        width: 30px; 
        flex-shrink: 0;
        height:30px; 
        border-radius: 50%; 
        background:#564741; 
        margin-right: 10px;
        margin-top: 10px;
    }
    .wrap9 p{
        
        color: #564741;
        font: 400 15px var(--ff);
        margin-top: 5px;
    }

}
